.jumbotron {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.123rf.com%2Fphoto_102146167_stock-vector-vector-line-web-concept-for-programming-linear-web-banner-for-coding-.html&psig=AOvVaw2UKizUm_Vn0vchNPkjh7vN&ust=1598203490913000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOis4pCqr-sCFQAAAAAdAAAAABAF");
    background-size: cover;
    background-position: center;
  }
  
  .jumbotron-info {
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
    border-color: #c7ad89 !important;
  }